#chess {
  .board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: #c3c3c3;
  }
}

#promotion {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  .hidden {
    display: none;
  }

  .body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 400px);
    height: 300px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .body > img {
    height: 150px;
    padding: 20px;
    border-radius: 50%;
  }

  .body > img:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
  }
}
