#chess {
  .tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
  }

  .white-tile {
    background-color: #a9a9a9;
  }

  .black-tile {
    background-color: #393939;
  }
}
